@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@media screen and (min-width: 992px) {
  .show-on-desktop {
    opacity: 1; }

  .show-on-mobile {
    display: none; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%;
  font-size: 62.5%;
  background: #fff;
  font-family: 'Open Sans', sans-serif; }

.wrapper {
  height: 100%;
  width: 100%;
  top: 0; }

.container {
  width: 90%;
  height: 100%;
  margin: auto;
  position: relative; }

.bg-black {
  background-color: #000; }

.clickable {
  cursor: pointer; }

.text {
  font-weight: 600; }

.text-1 {
  font-size: 1rem; }

.text-16, option {
  font-size: 1.6rem; }

.text-2 {
  font-size: 2rem; }

.center, .people-counter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%; }

.not-valid {
  font-size: 1.2rem;
  color: red; }

.main-heading, .vehicles-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  padding-top: 20%;
  padding-bottom: 3rem; }

.sub-heading {
  font-weight: 600; }

.wrapper-footer {
  position: absolute;
  top: 80%;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-items: center; }

.page-arrow {
  max-width: 50px;
  cursor: pointer; }

.back-page-arrow {
  grid-column: 1/3; }

.next-page-arrow {
  grid-column: 11/13; }

.home-wrapper {
  background-image: radial-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url("../images/bg.jpg");
  background-position: center;
  background-size: cover; }

.main-logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 80vw; }

.main-mobile-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw; }

.main-desktop-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  min-width: 800px;
  opacity: 0; }

.home-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 700;
  font-size: 2.4rem;
  padding: 1rem; }

.map-icon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  grid-column: 3/11; }

.map-icon {
  background: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem; }

.map-icon-pin {
  max-height: 4rem; }

.not-valid-locations {
  display: none; }

#numberOfDays {
  text-align: center; }

.not-valid-date {
  display: none; }

.people-counter {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.people-icon {
  max-width: 50px; }

#people-number {
  font-size: 3.6rem;
  font-weight: 700; }

.map-wrapper {
  position: fixed;
  top: 0;
  left: 0; }

.close {
  font-size: 4.2rem; }

#map-container {
  width: 100%;
  height: 90%; }

.vehicles-heading {
  padding: 3rem 0; }

@media screen and (min-width: 992px) {
  .main-desktop-logo {
    opacity: 1; }

  .show-on-mobile {
    display: none; }

  .form-control {
    max-width: 400px; }

  #numberOfDays {
    text-align: left; }

  .people-counter {
    max-width: 300px; } }

/*# sourceMappingURL=style.css.map */
